
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
  flex-direction: column;
} 

.container {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f4f1ec;
  flex-direction: column;
} 
